<div class="fr-field-{{ field.baseType }} field-container">
    <span>
        <label style="color: black; padding-left: 0;" class="label" for="" data-ng-class="{'required': field.validation.required && field.state.editMode}">{{field.to.label}}</label>
    </span>
	<fr-transclude></fr-transclude>
</div>