<div class="fr-field-state-write-wrapper" ng-show="field.state.editMode">
    <select
        fr-validation
        ng-model="ngModel"
        ng-options="o.key as o.value for o in field.to.valueOptions"
        ng-class="{
            'invalid': field.validation.error.length > 0,
            'valid': field.validation.error.length === 0
        }"
        data-validation="field.validation"
        id="{{ field.attrs.id }}"
        name="{{ field.attrs.name }}"
        class="field full select" />
    </select>
</div>
<div class="fr-field-state-read-wrapper" ng-show="!field.state.editMode">
<p class="fr-p">{{getValueFromOptions(ngModelInit)}}</p>
</div>
