<div class="fr-field-state-write-wrapper" ng-show="field.state.editMode">
    <div class="field-prefix-wrapper">
        <input
            fr-validation
            ng-model="ngModel"
            ng-class="{
                'invalid': field.validation.error.length > 0,
                'valid': field.validation.error.length === 0
            }"
            validation="field.validation"
            id="{{ field.attrs.id }}"
            name="{{ field.attrs.name }}"
            class="field full"
            type="text"
            placeholder="{{ field.attrs.placeholder }}" />
        <span class="button icon ng-fade"
            ng-class="{
                'active': state.picker,
                'date-red-cross': state.picker
            }"
            ng-click="toggleDatepicker()"
            data-toggle=""
            data-active="state.picker"
            data-color="#CF0039">
            <span class="fa fa-calendar"></span>
            <span class="fa fa-times"></span>
        </span>
    </div>
    <div ng-show="state.picker">
        <div
            akit-datepicker
            ng-model="ngModel"
            on-picked="onDatePicked"
            available-dates="field.to.availableDates"></div>
    </div>
</div>
<div class="fr-field-state-read-wrapper" ng-if="!field.state.editMode">
    <p class="fr-p">{{ngModelInit}}</p>
</div>
